p {
    position: absolute;
    margin: 0;
    z-index: 1;
}

body {
    overflow-x: hidden;
    margin: auto;
    height: 5000px;
    background-color: black;

}

/* TECHNIQUE GSAP */
ul.technique-gsap {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: none;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li {
    margin: 5px 0;
}

section {
    overflow: hidden;
}

/* HEADER START */
header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/autres/espace.svg");
}

.titre-header {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    padding-top: 15%;
    font-size: 4vw;
    font-family: 'urbanist';
    color: rgb(223, 223, 223);
    z-index: 1;
}

.description {
    width: 60vw;
    bottom: 10px;
    text-align: center;
    color: rgb(223, 223, 223);
    font-family: 'urbanist';
    font-size: 11px;
    padding: 0 20vw;
}

.scroll {
    width: 100vw;
    position: absolute;
    text-align: center;
    left: -38px;
    bottom: 25%;
    z-index: 15;
}

.mouse {
    position: absolute;
    z-index: 1;
}

.wheel {
    position: relative;
    top: 20px;
    left: 41px;
    z-index: 1;

}

/* HEADER END */


/* MAIN START */

main img {
    position: absolute;
}

main p {
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 1.5;
}


/* ELEMENTS CHAPITRE 1 */
#chapitre-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap1/espace.svg");
    position: sticky;
}

.terre {
    position: absolute;
    object-fit: contain;
    width: 37.65vw;
    height: 67vh;
    right: 3vw;
    bottom: 1.5vh;
}

.lune {
    position: absolute;
    object-fit: contain;
    width: 13.85vw;
    height: 24.629vh;
    right: 2.2vw;
    bottom: 21.2vh;
}

#chapitre-1 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 20.8vw;
    height: 33.3vh;
    left: 25vw;
    top: 25vh;
}

.chp1-t1 {
    width: 40vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 15vw;
    top: 30vh;
}



/* ELEMENTS CHAPITRE 2 */
#chapitre-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../img/elements_chap2/fond.svg");*/

    position: relative;

}

.espace {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 130vh;
    object-fit: cover;
    top: -25vh;

}

.chap-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#chapitre-2 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 20.8vw;
    height: 33.3vh;
    left: 25vw;
    top: 25vh;
}

.chap-2 {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#chapitre-2 .kevin {
    position: absolute;
    object-fit: contain;
    width: 11.4vw;
    height: 43.51vh;
    left: 50vw;
    bottom: 15vh;
    transform: translateX(-50%);
    z-index: 1;
}

.sofa {
    position: absolute;
    object-fit: contain;
    width: 29.3vw;
    height: 40.64vh;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 2;
}



.chp2-t1 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 2vw;
    top: 20vh;
}

.chp2-t2 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 2vw;
    top: 34vh;
}




/* ELEMENTS CHAPITRE 3 */
#chapitre-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap3/fond_arriere.svg");

    position: relative;
}

.fond-avant {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#chapitre-3 .kevin {
    position: absolute;
    object-fit: contain;
    width: 9.53vw;
    height: 39.5vh;
    left: 39vw;
    bottom: 15vh;
}

.casque {
    position: absolute;
    object-fit: contain;
    width: 8.75vw;
    height: 13.98vh;
    left: 38.85vw;
    top: 36vh;
    /* 43.4vh SUR KEVIN */
}

.pince {
    position: absolute;
    object-fit: contain;
    width: 12.44vw;
    height: 42.5vh;
    left: 37vw;
}

.casque-pince {}

.chp3-t1 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    right: 21vw;
    top: 37vh;
}




/* ELEMENTS CHAPITRE 4 */
#chapitre-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap4/fond.svg");

    position: relative;
}

#chapitre-4 .kevin {
    position: absolute;
    object-fit: contain;
    width: 6.61vw;
    height: 28.05vh;
    bottom: 3.39vh;
    left: 21.22vw;
}

#chapitre-4 .fusee {
    position: absolute;
    object-fit: contain;
    width: 20.36vw;
    height: 77.77vh;
    right: 13vw;
    bottom: 4vh;
}

#chapitre-4 .escalier {
    position: absolute;
    object-fit: contain;
    width: 17.40vw;
    height: 30.35vh;
    right: 25.5vw;
    bottom: 7vh;
}

.nuage1 {
    position: absolute;
    object-fit: contain;
    width: 65.2vw;
    height: 31vh;
    bottom: -6vh;
    right: -10vw;

}

.nuage2 {
    position: absolute;
    object-fit: contain;
    width: 28.4vw;
    height: 17.2vh;
    bottom: 1vh;
    right: 8.5vw;

}

.nuage3 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    left: -21vw;
    top: -18vh;
    z-index: 15;

}

.nuage4 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    right: -6.9vw;
    bottom: 21vh;
    z-index: 15;

}

.nuage5 {
    position: absolute;
    object-fit: contain;
    width: 76.97vw;
    height: 61vh;
    bottom: -11.5vh;
    right: -14.7vh;
    z-index: 15;
}

.nuage6 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    right: -8.2vw;
    top: -15vh;
    z-index: 15;
}

.nuage7 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    left: -14.5vw;
    top: 13vh;
    z-index: 15;
}

.nuage8 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    bottom: -13.4vh;
    left: -7.4vw;
    z-index: 15;
}

.chp4-t1 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 35vw;
    top: 25vh;
}

.chp4-t2 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 35vw;
    top: 30vh;
}



/* ELEMENTS CHAPITRE 5 */
#chapitre-5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap5/fond.svg");

    position: relative;
}

.chp5-fond {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#svg1 {
    position: absolute;
    width: 5.52vw;
    height: 10vh;
    stroke: #06a800;
    stroke-width: 5;
    left: 26.48vw;
    top: 65.27vh;
    overflow: visible;
}

#svg2 {
    transform: scaleX(-1);
    position: absolute;
    width: 5.52vw;
    height: 10vh;
    stroke: #06a800;
    stroke-width: 5;
    left: 68.07vw;
    top: 65.27vh;
    overflow: visible;

}

.kevin5 {
    position: absolute;
    object-fit: contain;
    width: 33.48vw;
    height: 72.2vh;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
}

.chap-5 .bombe {
    position: absolute;
    object-fit: contain;
    width: 13.32vw;
    height: 38.31vh;
    bottom: 0vh;
    right: 21.2vh;
    z-index: 20;
}

.chap-5 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 8.28vw;
    height: 13.25vh;
    left: 31.09vw;
    top: 12.77vh;
}

.chp5-t1 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 2vw;
    top: 13vh;
}

.chp5-t2 {
    width: 25vw;
    text-align: justify;
    color: rgb(223, 223, 223);
    left: 2vw;
    top: 30vh;
}

.chp5-t3 {
    width: 25vw;
    text-align: right;
    color: rgb(223, 223, 223);
    right: 8vw;
    bottom: 44vh;
}



/* ELEMENTS CHAPITRE 6 */
#chapitre-6 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap6/background.svg");

    position: relative;
}

#chapitre-6 .fusee {
    position: absolute;
    object-fit: contain;
    width: 15.91vw;
    height: 60.79vh;
    left: 20.5vw;
    bottom: 6vh;
}

#chapitre-6 .escalier {
    position: absolute;
    object-fit: contain;
    width: 13.6vw;
    height: 23.73vh;
    left: 30.2vw;
    bottom: 8.5vh;
}

#chapitre-6 .kevin {
    position: absolute;
    object-fit: contain;
    width: 5.05vw;
    height: 21.5vh;
    left: 44.5vw;
    bottom: 7.5vh;
}

#svg {
    position: absolute;
    object-fit: contain;
    width: 3.9vw;
    height: 9.07vh;
    bottom: 8.5vh;
    right: 39vw;

}

#bombe {
    position: absolute;
    object-fit: contain;
    width: 3.9vw;
    bottom: 8.5vh;
    right: 39vw;
}

#explosion {
    position: absolute;
    object-fit: contain;
    width: 56.25vw;
    height: 100vh;
    top: 15vh;
    right: 13.1vw;
    visibility: hidden;
}

.explosion2 {
    position: absolute;
    object-fit: contain;
    width: 3.9vw;
    height: 9.07vh;
    bottom: 8.5vh;
    right: 39.3vw;

}

.chp6-t1 {
    width: 40vw;
    text-align: center;
    color: rgb(223, 223, 223);
    right: 20vw;
    top: 40vh;
}

.stun {
    position: absolute;
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

/* ELEMENTS CHAPITRE 7 */
#chapitre-7 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap7/espace.svg");

    position: relative;
}

.meteoriteP1 {
    position: absolute;
    object-fit: contain;
    width: 21.45vw;
    height: 36.01vh;
    left: 32vw;
    top: 25vh;
}

.meteoriteP2 {
    position: absolute;
    object-fit: contain;
    width: 18.38vw;
    height: 42.5vh;
    left: 47.1vw;
    top: 28.9vh;
}

.meteoriteP3 {
    position: absolute;
    object-fit: contain;
    width: 22.34vw;
    height: 31.48vh;
    left: 35.65vw;
    top: 47.1vh;
}

.chp7-t1 {
    width: 100vw;
    text-align: center;
    color: rgb(223, 223, 223);
    top: 15vh;
}

.chp7-t2 {
    width: 100vw;
    text-align: center;
    color: rgb(223, 223, 223);
    top: 15vh;
}



/* SPRITESHEET FEU START */
#chapitre-4 .spritesheet-feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    background-size: 100% 2000%;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    animation-play-state: paused;
    right: 19vw;
    bottom: -0.05vh;
}

.is-scrolling #chapitre-4 .spritesheet-feu {
    animation-play-state: running;
}

@keyframes feu {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2000%;
    }
}



#chapitre-6 .spritesheet-feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 7.08vw;
    height: 12.63vh;
    background-size: 100% 2000%;
    animation-name: feu2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    animation-play-state: paused;
    left: 24.56vw;
    bottom: 3.2vh;
}

.is-scrolling #chapitre-6 .spritesheet-feu {
    animation-play-state: running;
}

@keyframes feu2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2000%;
    }
}

/* SPRITESHEET FEU END */


/* SPRITESHEET VOLANT START */
.spritesheet-volant {
    position: absolute;
    background-image: url('../img/spritesheet/spritesheet-volant.png');
    background-size: 100% 2500%;
    width: 34.88vw;
    /* 24.88vw */
    height: 31vh;
    /*22vh*/
    animation-name: volant;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(25);
    animation-play-state: paused;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 19vh;
}

.is-scrolling .spritesheet-volant {
    animation-play-state: running;
}

@keyframes volant {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2500%;
    }
}

/* SPRITESHEET VOLANT END */

/* MAIN END */