p {
    position: absolute;
    margin: 0;
    z-index: 1;
}

body {
    overflow-x: hidden;
    margin: auto;
    height: 5000px;
}

/* HEADER START */
header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/autres/espace.svg");
}

.titre-header {
    text-align: center;
    margin-top: 0;
    padding-top: 15%;
    font-size: 4vw;
    font-family: 'urbanist';
    color: rgb(223, 223, 223);
}

.description {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: rgb(223, 223, 223);
    font-family: 'urbanist';
    font-size: 11px;
}

.scroll {
    width: 100%;
    position: absolute;
    text-align: center;
    right: 34px;
    bottom: 25%;
}

.mouse {
    position: absolute;
}

.wheel {
    position: relative;
    top: 20px;
    left: 41px;

}

/* HEADER END */


/* MAIN START */

main img {

    position: absolute;
}



/* ELEMENTS CHAPITRE 1 */
#chapitre-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap1/espace.svg");
    border: 1px solid red;
    position: relative;
}

.terre {
    position: absolute;
    object-fit: contain;
    width: 37.65vw;
    height: 67vh;
    right: 3vw;
    bottom: 1.5vh;
}

.lune {
    position: absolute;
    object-fit: contain;
    width: 13.85vw;
    height: 24.629vh;
    right: 2.2vw;
    bottom: 21.2vh;
}

#chapitre-1 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 20.8vw;
    height: 33.3vh;
    left: 25vw;
    top: 25vh;
}

.chp1-t1{
    position: absolute;
    
}



/* ELEMENTS CHAPITRE 2 */
#chapitre-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../img/elements_chap2/fond.svg");*/
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}

.espace {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.chap-1 {
    position: absolute;
    width: 100vw;
    height: 100%;
}

#chapitre-2 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 20.8vw;
    height: 33.3vh;
    left: 25vw;
    top: 25vh;
}

.chap-2 {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#chapitre-2 .kevin {
    position: absolute;
    object-fit: contain;
    width: 11.4vw;
    height: 43.51vh;
    left: 50vw;
    bottom: 15vh;
    transform: translateX(-50%);
    z-index: 1;
}

.sofa {
    position: absolute;
    object-fit: contain;
    width: 29.3vw;
    height: 40.64vh;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 2;
}



/* ELEMENTS CHAPITRE 3 */
#chapitre-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap3/fond_arriere.svg");
    border: 1px solid red;
    position: relative;
}

.fond-avant {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#chapitre-3 .kevin {
    position: absolute;
    object-fit: contain;
    width: 9.53vw;
    height: 39.5vh;
    left: 39vw;
    bottom: 15vh;
}

.casque {
    position: absolute;
    object-fit: contain;
    width: 8.75vw;
    height: 13.98vh;
    left: 38.85vw;
    top: 36vh;
    /* 43.4vh SUR KEVIN */
}

.pince {
    position: absolute;
    object-fit: contain;
    width: 12.44vw;
    height: 42.5vh;
    left: 37vw;
}



/* ELEMENTS CHAPITRE 4 */
#chapitre-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap4/fond.svg");
    border: 1px solid red;
    position: relative;
}

#chapitre-4 .kevin {
    position: absolute;
    object-fit: contain;
    width: 6.61vw;
    height: 28.05vh;
    bottom: 3.39vh;
    left: 21.22vw;
}

#chapitre-4 .fusee {
    position: absolute;
    object-fit: contain;
    width: 20.36vw;
    height: 77.77vh;
    right: 13vw;
    bottom: 4vh;
}

#chapitre-4 .escalier {
    position: absolute;
    object-fit: contain;
    width: 17.40vw;
    height: 30.35vh;
    right: 26.5vw;
    bottom: 7vh;
}

.nuage1 {
    position: absolute;
    object-fit: contain;
    width: 65.2vw;
    height: 31vh;
    bottom: -6vh;
    right: -10vw;
}

.nuage2 {
    position: absolute;
    object-fit: contain;
    width: 28.4vw;
    height: 17.2vh;
    bottom: 1vh;
    right: 8.5vw;
}

.nuage3 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    left: -21vw;
    top: -18vh;
    display: none;
}

.nuage4 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    right: -6.9vw;
    bottom: 21vh;
    display: none;
}

.nuage5 {
    position: absolute;
    object-fit: contain;
    width: 76.97vw;
    height: 61vh;
    bottom: -11.5vh;
    right: -14.7vh;
    display: none;
}

.nuage6 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    right: -8.2vw;
    top: -15vh;
    display: none;
}

.nuage7 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    left: -14.5vw;
    top: 13vh;
    display: none;
}

.nuage8 {
    position: absolute;
    object-fit: contain;
    width: 71.5vw;
    height: 61vh;
    bottom: -13.4vh;
    left: -7.4vw;
    display: none;
}



/* ELEMENTS CHAPITRE 5 */
#chapitre-5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap5/fond.svg");
    border: 1px solid red;
    position: relative;
}

#chapitre-5 .kevin {
    position: absolute;
    object-fit: contain;
    width: 33.48vw;
    height: 72.2vh;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
}

#chapitre-5 .bombe {
    position: absolute;
    object-fit: contain;
    width: 13.32vw;
    height: 38.31vh;
    bottom: 0vh;
    right: 21.2vh;
}

#chapitre-5 .meteorite {
    position: absolute;
    object-fit: contain;
    width: 8.28vw;
    height: 13.25vh;
    left: 31.09vw;
    top: 12.77vh;
}



/* ELEMENTS CHAPITRE 6 */
#chapitre-6 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap6/background.svg");
    border: 1px solid red;
    position: relative;
}

#chapitre-6 .fusee {
    position: absolute;
    object-fit: contain;
    width: 15.91vw;
    height: 60.79vh;
    left: 20.5vw;
    bottom: 6vh;
}

#chapitre-6 .escalier {
    position: absolute;
    object-fit: contain;
    width: 17.40vw;
    height: 30.34vh;
    transform: scaleX(-1);
    left: 29.5vw;
    bottom: 1vh;
}

#chapitre-6 .kevin {
    position: absolute;
    object-fit: contain;
    width: 5.05vw;
    height: 21.5vh;
    left: 45.5vw;
    bottom: 8.5vh;
}

#chapitre-6 .bombe {
    position: absolute;
    object-fit: contain;
    width: 4.07vw;
    height: 9.07vh;
    bottom: 8.5vh;
    right: 39vw;
}

.explosion {
    position: absolute;
    object-fit: contain;
    width: 56.25vw;
    height: 100vh;
    top: 15vh;
    right: 13.1vw;
    display: none;
}

.meteoriteP1 {
    position: absolute;
    object-fit: contain;
    width: 21.45vw;
    height: 36.01vh;
    left: 32vw;
    top: 25vh;
}

.meteoriteP2 {
    position: absolute;
    object-fit: contain;
    width: 18.38vw;
    height: 42.5vh;
    left: 47.1vw;
    top: 28.9vh;
}

.meteoriteP3 {
    position: absolute;
    object-fit: contain;
    width: 22.34vw;
    height: 31.48vh;
    left: 35.65vw;
    top: 47.1vh;
}

/* ELEMENTS CHAPITRE 7 */
#chapitre-7 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap7/espace.svg");
    border: 1px solid red;
    position: relative;
}

/* SPRITESHEET FEU START */
#chapitre-4 .spritesheet-feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    background-size: 100% 2000%;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    animation-play-state: paused;
    right: 19vw;
    bottom: -0.05vh;
}

.is-scrolling #chapitre-4 .spritesheet-feu {
    animation-play-state: running;
}

@keyframes feu {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2000%;
    }
}



#chapitre-6 .spritesheet-feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 7.08vw;
    height: 12.63vh;
    background-size: 100% 2000%;
    animation-name: feu2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    animation-play-state: paused;
    left: 24.56vw;
    bottom: 3.2vh;
}

.is-scrolling #chapitre-6 .spritesheet-feu {
    animation-play-state: running;
}

@keyframes feu2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2000%;
    }
}

/* SPRITESHEET FEU END */


/* SPRITESHEET VOLANT START */
.spritesheet-volant {
    position: absolute;
    background-image: url('../img/spritesheet/spritesheet-volant.png');
    background-size: 100% 2500%;
    width: 34.88vw;
    /* 24.88vw */
    height: 31vh;
    /*22vh*/
    animation-name: volant;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(25);
    animation-play-state: paused;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 19vh;
}

.is-scrolling .spritesheet-volant {
    animation-play-state: running;
}

@keyframes volant {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2500%;
    }
}

/* SPRITESHEET VOLANT END */

/* MAIN END */